/* .dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
body{
    font-family: "Roboto" , sans-serif;
}
.dropdown input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 150px;
    overflow-y: auto;
}

.dropdown-content div {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.container{
    margin-top: 20px;
}

.float-title{
    float: left;
}

.text-align{
    text-align: left;
}
.form-check{
    padding-left: 40px;
}
.logo-pay{
    text-decoration: none;
    font-size:xx-large;
    padding-left: 8%;
    color: #2a9dcc;
}
.logo-login{
    float: right;
    text-decoration: none;
    font-size:large ;
}
.logo-login img{
    width: 21px;
    height: auto;
    
}

.icon-img img{
    width: 40%;
    height: auto;
}

.product{
    display: flex;
    margin-top: 3%;
}
.product img{
    width: 30%;
    height: auto;
}
.name-title{
    font-weight: bolder;
}
.order{
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0px;
}
.order h5{
    color: #333;
    font-weight: 600;
}
.color-price-div{
    margin-left: 4%;
    margin-top: 3%;
}
.order-list{
    background-color: #fafafa;

}
.product-price, .product-color{
    color: #717171;
}
.total-container{
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
    color: #717171;
    font-size: large;
}
.btnbuy{
    float: right;
    cursor: pointer;
    background-color: #357ebd;
    border-color: #2f71a9;
    border: 1px transparent solid;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    padding: .80em 1.7em;
    text-align: center;
}
.btnbuy:hover {
    background-color: #25639a;
}
.btnbuy-div{
    margin-top: 10%;
}

.quantity{
    color: #717171;
}